* {
	box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background: #000;
  background-image: url('./velvet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.main {
  background: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reset {
  margin-top: 20px;
  background: none;
  border: none;
  color: #747474;
  font-size: 16pt;
}

.reset:hover {
  color: #fff;
  font-weight: 900;
}

.main-circle {
	background: radial-gradient(farthest-corner at 70px 55px, #E8E8E8 10%, #000 40%);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #747474;
  position: relative;
  margin: 75px;
  box-shadow: 100px 75px 150px 50px rgba(0, 0, 0, 0.8);
}

.main-circle:hover {
  color: #fff;
}

.wobble {
	animation: wobble 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes wobble {
  10%, 90% {
    transform: translate3d(-2px, 10px, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, -80px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-18px, -10px, 0);
  }

  40%, 60% {
    transform: translate3d(18px, 10px, 0);
  }
}

h3 {
	font-size: 20pt;
	top: 75px;
  position: absolute;
	font-family: 'Quantico', sans-serif;
}

.center-circle {
	z-index: 10;
	background: #fff;
	border: 2px inset #747474;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blue-center-circle {
	background: radial-gradient(#000, #00B);
	color: #fff;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle {
	/*display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.6);
  width: 80px;
  height: 4em;*/
}

h2 {
  font-size: 90pt;
  font-family: 'Quantico', sans-serif;
  color: #000;
}

p {
  padding: 20px;
	font-family: 'Quantico', sans-serif;
	text-align: center;
	margin: 0px auto;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

#github {
  background-image: url('./github.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 10px 70px;
}

#github:hover {
  background-image: url('./github-hover.svg');
}

.site-link {
  text-decoration: none;
  color: #6A041D;
  margin: 10px 70px;
  font-size: 16pt;
  font-weight: 900;
  font-family: 'Quantico', sans-serif; 
}

.site-link:hover {
  color: #A05F6F;
}








